<%= render 'shared/header' %>

<%# 使用方法の記述 %>
<div class="home-area">
  <h1 class="home-title">HowtoUse</h1>
  <div class="how-to-use">
    <ol class="how-to-use__lists">
      <li class="how-to-use__title">使用方法-タイトル
        <div class="how-to-use__explanation">使用方法の記述</div>
      </li>
    </ol>
  </div>
</div>