<div class="header">
  <div class="title">完成品/部品/材料管理アプリ</div>
  <div class="links">
    <ul class="register_links">
      <li><%= link_to "部品登録", "#" %></li>
      <li><%= link_to "材料登録", "#" %></li>
    </ul>
    <ul class="user_links">
      <%# ユーザーがサインしているかどうかで分岐(devise導入後実装、まずは未ログイン時のみ) %>
      <li><%= link_to "新規登録", "#" %></li>
      <li><%= link_to "ログイン", "#" %></li>
    </ul>
  </div>
</div>