.no-border-top {
  border-top: none !important;
}

.no-scroll {
  overflow-y: visible !important;
}

.button-link__history-area {
  height: 30px;
  display: flex;
}

.button-link__history-area span {
  padding: 0 5px;
}

.button-link__history {
  width: 50px;
  height: 25px;
  background-color: #dedede;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.button-link__history a {
  text-decoration: none;
  color: black;
}