.need-parts-materials {
  margin: 20px;
}

.need-table-area {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #dedede;
}

.need-table-area p {
  font-weight: bold;
}

.need-table-title {
  font-size: larger;
}

.need-table-title span {
  font-weight: bold;
}

.need-table {
  margin-top: 10px;
  max-height: 450px;
  overflow-y: scroll;
}

.need-table th {
  border: 1px solid black;
  background-color: rgb(146, 176, 228);
  padding: 5px 10px;
  text-align: center;
}

.need-table td {
  border: 1px solid black;
  padding: 5px 10px;
}

.need-table_nums {
  text-align: center;
}