.history-area__data {
  text-align: center;
}

.input_style__stock {
  width: 50px;
  padding-right: 4px;
  text-align: right;
}

.button-link__area {
  display: flex;
}

.button-link {
  width: 70px;
  margin: 0 0 30px 20px;
  background-color: #dedede;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.button-link a {
  text-decoration: none;
  color: black;
}

.calculate-button {
  background-color: black !important;
}

.calculate-button a {
  color: white !important;
}

.history-head {
  display: flex;
}

td .table-center {
  display: flex;
  justify-content: center;
}